html {
    background: #222;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    height: 50px;
}

.header-left {
    font-size: 24px;
    font-weight: bolder;
}

.header-right {
    display: flex;
    align-items: center;
}

.input-box {
    padding: 10px;
    font-size: 1em;
    border: none;
    transition: width 0.3s ease;
    width: 0px;
    padding-right: 30px; /* Space for the icon */
    border-radius: 5px;
    background: #222;
    color: white;
}

.input-box:focus {
    outline: none;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%
}
.input-container input {
    width: 100%;
    padding-right: 30px; /* Space for the 'X' button */
}
.input-container .clear-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    transition: 0.25s;
}

.clear-btn:hover {
    color: red;
}

.clear-results-btn {
    margin-top: 20px;
    background-color: #FFD43B;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: 0.25s;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.clear-results-btn:hover {
    background-color: #dcb731;    
}

#filterInput {
    width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
    padding: 10px;
    margin-bottom: 20px; 
    margin-top: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

#filterInput:focus {
    outline: none;
}

.expand-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

main {
    padding: 20px;
    height: 100vh;
    max-width: 80%;
    margin: auto;
}

.main-content {
    display: flex;
}

.side-panel {
    min-width: 400px; /* Ensure the width doesn't go below 300px */
    padding: 10px; /* Optional: for spacing */
    overflow-y: auto; /* Allow scrolling */
    max-height: 90vh; /* Limit height */
    box-sizing: border-box; /* Include padding in the width calculation */
    height: 100vh;
    margin-right: 30px;
}

.subheader {
    font-size: 18px;
    margin-bottom: 20px;
}

.card3d {
    margin: 4px;
    transform: scale(1);
    perspective: 300px;
}

.card3d:hover {
    z-index: 10;
    transform: scale(1.05);
}

.card3d,
.card3d img {
    transition: all 250ms ease-out;
}

.subheader {
    font-size: 18px;
    margin-bottom: 20px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%; /* Adjust the width as needed */
    text-align: center;

    p {
        margin-top: 20px;
        color: white;
    }
}

.grid-container-2 {
    display: grid;
    gap: 10px;
    width: 100%;
    margin: auto;
    grid-auto-flow: dense;
    justify-content: center;
}

.grid-item {
    overflow: hidden;
    text-align: center;
    width: fit-content;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.grid-item .title {
    padding: 10px;
    font-size: 1em;
    color: white;
}

/* Responsive grid */
@media (min-width: 1200px) {
    .grid-container-2 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid-container-2 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid-container-2 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 767px) {
    .grid-container-2 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
}

.modal-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#message {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.hidden {
    opacity: 0;
}

#checkboxList {
    overflow-y: auto; /* Allow scrolling */
    max-height: 75vh; /* Limit height */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
        color: white;
    }
}
.checkbox-container input {
    margin-right: 10px;
}